.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

// Overrides vuetify.css
// Because Teleport wraps tabs in a div, which changes the background color.
.v-toolbar__content > div > .v-tabs,
.v-toolbar__extension > div > .v-tabs {
  background-color: inherit;
}
