.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 15px;
}

.sc-launcher, .sc-open-icon, .sc-closed-icon {
  bottom: 0 !important;
}
